server:
  port: 8080

spring:
  mvc:
    throw-exception-if-no-handler-found: true

  resources:
    add-mappings: false

  datasource:
    url: jdbc:mysql://localhost:3306/default?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: A4EvkEnXM97TlDOqxaGXx3ojoAOJg9H0
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 3000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0

logging:
  file:
    name: logs/app.log
  level:
    root: INFO